/* heights */
$app-bar-height: 50px;

/* colours */
$base-50: #E8F5E9;
$base-100: #C8E6C9;
$base-200: #A5D6A7;
$base-300: #81C784;
$base-400: #66BB6A;
$base-500: #4CAF50;
$base-600: #43A047;
$base-700: #388E3C;
$base-800: #2E7D32;
$base-900: #1B5E20;

$base-A100: #B9F6CA;
$base-A200: #69F0AE;
$base-A300: #00E676;
$base-A400: #00C853;

$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$red-100: #FFCDD2;
$red-200: #EF9A9A;

$darkgrey: #666666;
$grey: #d2d2d2;
$lightgrey: #f6f6f6;
$whitegrey: #fafafa;

/* radius */
$radius: 3px;
